<!DOCTYPE html>
<html lang="de">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= t 'page_title' %></title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="assets/bootstrap.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="assets/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="assets/creative.css" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
            <script>
                </script>
    <![endif]-->

</head>

<body id="page-top">

    <%= render :partial => "news" %>

    <%= render :partial => "nav" %>

    <%= render :partial => "header" %>

    <%= render :partial => "time_for_hands" %>

    <%= render :partial => "portfolio" %>

    <%= render :partial => "time" %>

    <%= render :partial => "consulting" %>

    <%= render :partial => "about" %>

    <%= render :partial => "lable" %>

    <%= render :partial => "weather" %>

    <%= render :partial => "chainreaction" %>

    <%= render :partial => "links" %>

    <%= render :partial => "contact" %>

    <!-- jQuery -->
    <script src="assets/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="assets/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="assets/jquery.easing.min.js"></script>
    <script src="assets/jquery.fittext.js"></script>
    <script src="assets/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="assets/creative.js"></script>

</body>

</html>
