<h1>News editieren: </h1>

<br>
<%= simple_form_for @news, html: { class: 'form-vertical' }, url: editnews_path do |f| %>
    <%= f.input :title, lable: 'Überschrift' %>
    <%= f.input :content, label: 'Text', :class => 'newsField'%>
    <%= f.file_field :picture %>

    <h5>Aktuelles Bild:</h5>

    <%= image_tag(@newest.picture_url) if @newest.picture.present? %><br>
    <br>
<br>

    <p>
      <label>
        <%= f.check_box :remove_picture %>
        Bild löschen?
      </label>
    </p>
    <%= f.button :submit %>
<% end %>

<script>

  $(document).ready(function(){

    var datelist = 0;
    $( "#ck-button" ).click(function()  {
      if (datelist == 0){
        datelist = 1;
        alert( datelist );
      } else {
        datelist = 0;
        alert( datelist );
      }
      document.getElementById("remove_picture").value = datelist;
    });
  });
</script>
